

<table class="table table-collapse table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposed_items.each do |proposed_item| %>
      <tr>
        <td><%= proposed_item.name %></td>
        <td>
            <% if !proposed_item.comment.empty? %>
              <button type="button" class="btn btn-default" data-toggle="popover" title="Comment" data-content="<%= proposed_item.comment%>" data-placement="top" id="my_button" >
              View
              </button>
            <% end %>
        </td>
        <td><%= proposed_item.cost %></td>
        <td><%= proposed_item.quantity %></td>
        <td><%= proposed_item.amount %></td>
        <td><%= proposed_item.category %></td>
<!--         <td><%#= link_to 'Edit', edit_budget_proposed_item_path(proposed_item.budget), class: "btn btn-primary" %></td> -->
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1" data-whatever="<%= "/budgets/" + proposed_item.budget_id.to_s + "/proposed_items/" + proposed_item.id.to_s %>">Delete</button></td>
        <!-- <td><%#= link_to 'Delete', [proposed_item.budget, proposed_item], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr> -->
    <% end %>
  </tbody>
</table>

<br>

