
<h3>Incomes</h3>

  <div class="dropdown btn btn-default">
    <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Period to show
    <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dLabel">
      <li><%= link_to "Day", :period => 1 %>  </li> 
      <li><%= link_to "Week", :period => 7 %> </li> 
      <li><%= link_to "Month", :period => 30 %> </li>
      <li><%= link_to "6 Months", :period => 180 %></li> 
      <li><%= link_to "Year", :period => 365 %></li>
    </ul>
  </div>

<table class="table table-striped table-hover table-responsive" >
  <thead>
    <tr>
      <th>Job</th>
      <th>Pay</th>
      <th>Earned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.job %></td>
        <td><%= income.pay %></td>
        <td><%= income.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= link_to 'Edit', edit_income_path(income), class: "btn btn-primary"  %></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1" data-whatever="<%= "incomes/" + income.id.to_s %>">Delete</button></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= render 'shared/modal_part' %>
