<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <%= bootstrap_form_for(wishlist) do |f| %>
        <% if wishlist.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(wishlist.errors.count, "error") %> prohibited this wishlist from being saved:</h2>

            <ul>
            <% wishlist.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.text_field :itemname, class: "butn" %>
        </div>

        <div class="field">
          <%= f.text_field :comment, class: "butn" %>
        </div>

        <div class="field">
          <%= f.text_field :itemcost, class: "butn" %>
        </div>

        <div class="field">
          <%= f.number_field :quantity, class: "butn" %>
        </div>

        <div class="actions col-sm-offset-4 col-md-8">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
 </div> 
