<div class="cover">
  <h3>Wishlists</h3>
  <% if defined?(@wishlists) %>
    <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Comment</th>
          <th>Item Cost</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @wishlists.each do |wishlist| %>
          <tr>
            <td><%= wishlist.itemname %></td>
            <td>
              <% if !wishlist.comment.empty? %>
                <button type="button" class="btn btn-default" data-toggle="popover" title="Comment" data-content="<%= wishlist.comment%>" data-placement="top" id="my_button" >
                View
                </button>
              <% end %>
            </td>
            <td><%= number_to_currency(wishlist.itemcost, unit: current_user.unit + " ", precision: 2) %></td>
            <td><%= wishlist.quantity %></td>
            <td><%= number_to_currency(wishlist.amount, unit: current_user.unit + " ", precision: 2) %></td>
            <td><%= link_to 'Edit', edit_wishlist_path(wishlist), class: 'btn btn-primary' %></td>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1" data-whatever="<%= "wishlists/" + wishlist.id.to_s %>">Delete</button></td>
          </tr>
        <% end %>
        </tbody>
          <tr>
            <td></td>
          </tr>
          <th>Total</th>
          <th></th>
          <th></th>
          <th></th>
          <th><%= number_to_currency(@totalCost, unit: current_user.unit + " ", precision: 2) %></th>
      
    </table>

    <br>
  </div>
  <% end %>
</div>
<%= render 'shared/modal_part' %>