
<nav class="navbar navbar-default" id="colorful-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="home"><a href=<%= root_url %>><span class="glyphicon glyphicon-home"></span><h5>HOME</h5></a></li>
                <li class="profile"><a href=<%= user_path(current_user) %>><span class="glyphicon glyphicon-user"></span><h5>PROFILE</h5></a></li>
                <!--li class="statistics"><a href="#"><span class="glyphicon glyphicon-stats"></span><h5>STATISTICS</h5></a></li-->
                <li class="lists"><a href=<%= edit_user_path(current_user) %>><span class="glyphicon glyphicon-list-alt"></span><h5>SETTINGS</h5></a></li>
                <li class="about"><a href=<%=budgets_path %>><span class="glyphicon glyphicon-tasks"></span><h5>BUDGET</h5></a></li>
                <li class="contact"><a href=<%=incomes_path %>><span class="glyphicon glyphicon-usd"></span><h5>INCOME</h5></a></li>
                <li class="search"><a href=<%= wishlists_path%>><span class="glyphicon glyphicon-star"></span><h5>WISHLIST</h5></a></li>
                <li class="lists"><a rel='nofollow' data-method='delete' href='/logout'><span class="glyphicon glyphicon-off"></span><h5>Log Out</h5></a></li>
            </ul>
        </div>
    </div>
</nav>

